*{
  margin:0px;
  padding:0px;
}
::-moz-selection { 
  color: var(--inv);
  background: var(--col);
}

::selection {
  color: var(--inv);
  background: var(--col);
}
#titleBackground {
  width: 98.7vw;
  height: 95vh;
  margin: 0px;
  z-index: -1;
  filter: brightness(20%);
}
.openTitle {
  --top: 40%;
  --left: 50%;
  color: white;
  font-size: 5rem;
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
}
#slideshow {
  position: relative;
  text-align: center;
  height: 95vh;
  cursor: pointer;
}
.centered {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: pulsing;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulsing {
  0% {
    color: rgba(0, 0, 0, 1);
  }
  50% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
  }
}
.dark {
  --col : white;
  --inv : black;
  background-color: black;
  color: white;
}
.dark #productos div {
  border: 2px solid white;
}
.light {
  --col: black;
  --inv:white;
  background-color: white;
  color: black;
}
.light #productos div {
  border: 2px solid black;
}
.visualMode {
  font-size: 2.5rem;
  color: black;
  cursor: pointer;
}
.visualMode:hover{
  animation-name:rotating;
  animation-duration:0.5s;
}
@keyframes rotating{
  0%{
    transform: rotate(90deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
.visualMode:active{
  font-size:2.3rem;
}
.changeMode {
  display: flex;
}
.change-color {
  margin-top: 10px;
}
#productos {
  display: flex;
  justify-content: space-around;
}
.perro,
.gato,
.pez {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 200px;
  height: 325px;
  border:2px solid var(--col);
  
}
.perro:hover,
.gato:hover,
.pez:hover{
  box-shadow: 0px 0px 59px 10px rgba(246,230,29,0.75);
-webkit-box-shadow: 0px 2px 59px 10px rgba(246,230,29,0.75);
-moz-box-shadow: 0px 2px 59px 10px rgba(246,230,29,0.75);
}
.perro img,
.pez img {
  width: 10vw;
}
.gato img {
  width: 15vw;
}
.perro h3,
.gato h3,
.pez h3 {
  font-size: 1rem;
  cursor:default;
}
.perro h4,
.gato h4,
.pez h4 {
  font-size: 1rem;
  cursor:default;
  color:rgba(65, 255, 0, 1);
}
.perro h4:hover,
.gato h4:hover,
.pez h4:hover {
  animation-name: price;
  animation-duration: 0.5s;
  background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 1) 0%,
      rgba(65, 255, 0, 1) 100%
    );
  color:rgba(255, 255, 255, 1);
}

.perro h4::before,
.gato h4::before,
.pez h4::before {
  content: "$";
}
@keyframes price {
  0% {
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 0) 0%,
      rgba(65, 255, 0, 0) 100%
    );
    color:rgba(65, 255, 0, 1);
  }
  10% {
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 0.2) 0%,
      rgba(65, 255, 0, 0) 100%
    );
  }
  20% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 0.4) 0%,
      rgba(65, 255, 0, 0) 100%
    );
  }
  30% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 0.6) 0%,
      rgba(65, 255, 0, 0) 100%
    );
  }
  40% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 0.8) 0%,
      rgba(65, 255, 0, 0) 100%
    );
  }
  50% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 1) 0%,
      rgba(65, 255, 0, 0) 100%
    );
  }
  60% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 1) 0%,
      rgba(65, 255, 0, 0.2) 100%
    );
  }
  70% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 1) 0%,
      rgba(65, 255, 0, 0.4) 100%
    );
  }
  80% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 1) 0%,
      rgba(65, 255, 0, 0.6) 100%
    );
  }
  90% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 1) 0%,
      rgba(65, 255, 0, 0.8) 100%
    );
  }
  100% {
    background: rgb(65, 255, 0);
    background: linear-gradient(
      90deg,
      rgba(65, 255, 0, 1) 0%,
      rgba(65, 255, 0, 1) 100%
    );
    color:rgba(255, 255, 255,1);
  }
}

#inicio {
  display: flex;
  justify-content: space-between;
}
#inicio img {
  width: 50vw;
  border-radius: 50px;
  animation-name: shadowTransition;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes shadowTransition {
  0% {
    box-shadow: 9px 19px 35px 5px rgba(245, 37, 237, 0.51);
    -webkit-box-shadow: 9px 19px 35px 5px rgba(245, 37, 237, 0.51);
    -moz-box-shadow: 9px 19px 35px 5px rgba(245, 37, 237, 0.51);
  }
  50% {
    box-shadow: 93px -75px 46px -55px rgba(245, 224, 37, 0.51);
    -webkit-box-shadow: 93px -75px 46px -55px rgba(245, 224, 37, 0.51);
    -moz-box-shadow: 93px -75px 46px -55px rgba(245, 224, 37, 0.51);
  }
  100% {
    box-shadow: 9px 19px 35px 5px rgba(245, 37, 237, 0.51);
    -webkit-box-shadow: 9px 19px 35px 5px rgba(245, 37, 237, 0.51);
    -moz-box-shadow: 9px 19px 35px 5px rgba(245, 37, 237, 0.51);
  }
}
h2 {
  font-size: 3.5rem;
  background: #d0c419;
  background: linear-gradient(89deg, #d0c419 0%, #d5c713 80%);
  background: -webkit-linear-gradient(89deg, #d0c419 0%, #d5c713 80%);
  background: -moz-linear-gradient(89deg, #d0c419 0%, #d5c713 80%);
  -webkit-background-clip: text;
  color: transparent;
}
#inicio p {
  max-width: 70ch;
}
.exploreProducts {
  text-decoration: none;
  color: #330f7c;
}
.exploreProducts:hover {
  color: #ffde59;
}
.productButton, .fullCart .rightSide #buyCart{
  text-decoration:none;
  color:var(--inv);
  background-color:#d0c419;
  border:var(--col) 2px solid;
  display:inline-block;
  padding:5px;
  border-radius:12px;
}
.productButton:hover, .fullCart .rightSide #buyCart:hover{
  background-color:var(--col);
  animation-name:changeButton;
  animation-duration:0.5s;
}
@keyframes changeButton{
  0%{
    background-color:#d0c419;
  }
  100%{
    background-color:var(--col);
  }
}
.productsClasses{
  border:none;
  padding-bottom:10vh;
  padding-top:5vh;
}
.productsClasses ul{
  display:flex;
  justify-content: space-around;
  background-color: var(--col);
  padding-top:5px;
  padding-bottom:5px;
}
.productsClasses ul li{
list-style: none;
}
.productsClasses ul li:hover{
  border-bottom:2px solid #d0c419;
}
.productsClasses ul li:hover::before{
  content:">";
  color:#d0c419;
}
.productsClasses ul li a{
  text-decoration: none;
  color:var(--inv);
}
.item{
  display:flex;
}
.item div img{
  width:20vw;
}
.item div h2{
  font-size:2rem;
}
.item div h2::before{
    content:"Nombre: ";
    color:#d0c419;
}
.item div h3{
  font-size:1.8rem;
}
.item div h3::before{
  content:"Marca: ";
  color:#d0c419;
}
.item div h4{
  color:green;
  font-size:1.3rem;
}
.item div h4::before{
  content:"$";
}
.item div p::before:not(.cartAddingCount){
  content:"Descripción: ";
  color:#d0c419;
}
.item button{
  background-color:blue;
  color:white;
  padding:10px;
  border-radius: 10px;
  font-size:1rem;
  border:0px solid white;
  margin-top:5px;
  cursor:pointer;
}
.item button:hover{
  color:var(--inv);
background-color: var(--col);
animation-name:changeButton2;
animation-duration:0.2s;
}

@keyframes changeButton2 {
  0%{
    background-color:blue;
    color:white;
  }
  100%{
    background-color:var(--col);
    color:var(--inv);
  }
}
.item div .cartCountButtons{
  display: flex;
}
.item div .cartCountButtons input, .cartCountButtons p{
  font-size:1.5rem;
}
.item div .cartCountButtons input{
  background-color:var(--col);
  color:var(--inv);
  border-radius:20%;
  cursor:pointer;
}
.item div .cartCountButtons input:hover{
  font-size:2rem;
  animation:bigger 0.1s;
}
.item div .cartCountButtons input:active{
  color:var(--col);
  background-color:var(--inv);
  border:2px solid var(--col);
}
@keyframes bigger{
  0%{
    font-size:1.5rem;
  }
  10%{
    font-size:1.55rem;
  }
  20%{
    font-size:1.6rem;
  }
  30%{
    font-size:1.65rem;
  }
  40%{
    font-size:1.70rem;
  }
  50%{
    font-size:1.75rem;
  }
  60%{
    font-size:1.8rem;
  }
  70%{
    font-size:1.85rem;
  }
  80%{
    font-size:1.9rem;
  }
  90%{
    font-size:1.95rem;
  }
  100%{
    font-size:2rem;
  }
}
.item div .cartCountButtons .sub{
  padding:0.2vw;
}
.cartCount{
  font-size:1.5rem;
  color:#330f7c;
}
.cartCount::before{
  content:"Elementos añadidos al carrito: ";
  color:var(--col);
}
.general{
  text-align:center;
}
.general h3, .brand h3{
  font-size:2rem;
  color:grey;
  margin-top:10vh;
}
.general p, .general ul li{
  font-size:1.5rem;
}
.general div{
  margin-bottom:10vh;
}
.general .lastTitle, .general .lastDiv{
  margin-bottom:0px;
}
.general ul{
  margin-top:5vh;
}
.general ul li{
  list-style:none;
}
.general ul li::before{
  content:"✅";
}
h2:not(#inicio_title):not(.centered):not(.productName):hover {
  background:var(--inv);
  -webkit-background-clip:text;
    -webkit-text-stroke:0.5px;
    -webkit-text-stroke-color:var(--col);
}
.brand{
  display:inline-block;
  border:2px double var(--col);
}
.brand img{
  width:20vw;
}
#whiskas{
  margin-bottom:5vh;
  padding-top:9.6vh;
}
#purina{
  margin-bottom:5vh;
  padding-top:14vh;
}
#royal{
  margin-bottom:10vh;
  padding-top:17.3vh;
}
.addedCount-true{
  font-size:1rem;
  color:grey;
}
.addedCount-true::before{
  content:"Productos agregados:";
  color:var(--col);
}
#clearButton{
  font-size:1rem;
  font-weight:bold;
  border-radius:20%;
  color:var(--col);
  background-color:red;
  border:2px solid var(--col);
  padding:1vw;
}
#clearButton:hover{
  background-color:var(--col);
  color:red;
  border:2px solid red;
}
#clearButton:active{
  font-size:0.9rem;
}
.limit{
  color:yellow;
  -webkit-text-stroke:0.3px;
  -webkit-text-stroke-color:grey;
}
.limit::before{
  content:"⚠️";
}
.hideLimitError{
  display:none;
}
.showLimitError{
   color:red;
}
.fullCart{
  display:flex;
  justify-content:space-between;
}
.fullCart .rightSide{
  border:2px dashed var(--col);
  padding-bottom:2vh;
}
.fullCart .rightSide .finalPrice{
  color:greenyellow;
  font-size:2rem;
}
.fullCart .rightSide .finalPrice::before{
  content:"Precio final:";
  color:var(--col);
}
.fullCart .rightSide h4{
  font-size:1.8rem;
  color:#330f7c;
}
.fullCart .rightSide h4::before{
  content:"Vendedor:";
  color:var(--col);
}
.fullCart .rightSide #buyCart{
  font-size:1.5rem;
}