@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    font-family:'Noto Sans', sans-serif;
}
nav{
    display:flex;
    justify-content:space-between;
    background-color:rgb(143, 240, 151);
}
nav section{
    display:flex;
}
nav section ul{
    margin-top:9vh;
    display:flex;
    list-style:none;
}
nav section ul li{
    margin-left:2vw;
}
nav section ul li a{
    text-decoration: none;
    color:#330f7c;
}
nav section ul li a:hover{
    color:#ffde59;
}
.logo{
    width:10vw;
}
.cart{
    width:29px;
    margin-top:9vh;
}
.cartContainer{
    margin-right:2vw; 
    color:#330f7c;
}
.cartLink{
    text-decoration: none;
}
.cartContainer:hover{
    color:#d0c419;
}
.cartContainer p{
display: inline-block;
}

